<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard Pogodowy</title>
    <style>
        .weather-card {
            border: 1px solid #ccc;
            padding: 15px;
            margin-bottom: 15px;
            border-radius: 8px;
        }
	.current-weather {
            font-weight: bold;
            font-size: 1.5em;
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
    <div class="current-weather">
        <strong>Aktualna temperatura:</strong> {{ current_data.temperature }}<br>
        <strong>Aktualna wilgotność:</strong> {{ current_data.humidity }}<br>
    </div>

    </div>
    {% for data in weather_data %}
    <div class="weather-card">
        <strong>Temperatura:</strong> {{ data.temperature }}<br>
        <strong>Wilgotność:</strong> {{ data.humidity }}<br>
        <strong>Data:</strong> {{ data.timestamp }} <br>
    </div>
    {% endfor %}
</body>
</html>
